.email-verification-container {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .email-address {
    color: #00ccff; /* Color azul para la dirección de correo */
  }
  
  .loading-animation {
    /* Estilos para la animación de carga (puedes usar una librería como Lottie) */
  }
  
  .waiting-text {
    font-size: 16px;
  }
  
  .not-received-text {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .expand-link {
    color: #00ccff;
    cursor: pointer;
  }
  