.nav-tabs {
    height: 104px !important;
    width: 60rem;  
    border-color: transparent;
    padding-top: 50px;    
}
.insufficient-funds{
    color: #de7070;
}
.checkout{
    background-color: #142540;
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    margin-left: 20rem;
}

.checkcont{
    background-color: #142540;

}

.payment-title{
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 20px;

}


.paymentmeth{
    height: 296px;
    width: 616px;
    background-color: #0a1527;
    padding-top: 20px;
    padding-left: 30px;
}

.payopt{
    width: 250px;
    height: 33px;
}

.pay1{
    color: white;
}

#dropdown-basic{
    margin-top: 20px;
    color: white !important;
    background-color: #0d131b;
    border-color: white !important;
}

.tex2{
    margin-top: 50px;
    color: white;
    font-size: 12px;
    margin-bottom: 30px;
}

.tex3{
    color: white;
    font-size: 12px;
}

.continuar{
    height: 30px;
    width: 98px;
    color: white;
    background-color: #6e8b04;
    border: white;
    margin-top: 40px;
    margin-left: 470px;
    padding-top: 2px;
}

.continuar:hover{
    background-color: #99C203;
}
.disabled-button {
    height: 30px;
    width: 98px;
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: not-allowed;
    pointer-events: none;
    margin-top: 25px;
    margin-left: 470px;
    padding-top: 2px;
}

.gamedesc{
    display: flex;
    height: 75px;
    width: 616px;
    padding: 15px;
    background-color: #13202c;
    margin-bottom: 5px;
}


.gamedescImg{
    height: 45px;
    width: 120px;
    background-color: black;
}

.gameprice1{
    color: white;
    font-size: 12px;
    margin-top: 11px;
    margin-left: 300px;
}

.contPay2{
    padding-top: 4rem;
    padding-left: 2rem;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.contPay{
    width: 70rem;
    height: 40rem;
    padding-top: 4rem;
    padding-left: 3rem;
    margin-top: 20px;
    position: relative !important;
}


.checktabs{
    width: 50%;
    height: 104px;
    display: flex;
    position: absolute;
    top: 25%;
    left: 47%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    padding-left: 50px;
    
}

.infopay{
    color: white;
    width: 135px;
    height: 33px;
    background-color: #5dc4f0;
    font-size: 12px;
    padding: 8px;
}


.arrow{
    height: 33px;
margin-left: 20px;
margin-right: 20px;
color: white;
padding-top: 7px;
}

.revcomp{
    width: 135px;
    height: 33px;
    font-size: 12px;
    padding: 8px;
    color: white;

}


.infopay1{
    color: white;
    width: 135px;
    height: 33px;
    font-size: 12px;
    padding: 8px;
}


.revcomp1{
    background-color: #5dc4f0;
    width: 135px;
    height: 33px;
    font-size: 12px;
    padding: 8px;
    color: white;

}


.subandtot{
    height: 127px;
    width: 616px;
    background-color: #13202c;
    padding-top: 30px;
}

.precio{
    color: white;
    font-size: 12px;
    margin-left: 400px;
}

.precio1{
    color: white;
    font-size: 12px;
    margin-left: 419px;
}

.subtot{
    display: flex;
    color: #39739c;
    font-size: 12px;
    width: 552px;
    height: 30px;
    border-bottom: 2px solid #212e3c;

    margin-left: 5%;
    padding-left: 20px;

}

.tot{
    margin-top: 10px;
    display: flex;
    width: 552px;
    color: #39739c;
    font-size: 12px;
    margin-left: 5%;
    padding-left: 20px;
}

.confirmation{
    margin-top: 5px;
    height: 218px;
    width: 616px;
    background-color: #13202c;    
    margin-bottom: 100px;
}

.uppersec{
    margin-left: 14px;
    width: 590px;
    height: 80px;
    border-bottom: 2px solid #194660;

}

.upcont{
    padding-top: 10px;
    margin-left: 20px;
    display: flex;
    width: 590px;
    height: 40px;
}

.lowcont{
    padding-top: 10px;
    margin-left: 20px;
    display: flex;
    width: 590px;
    height: 40px;
}
.t1{
    color: #39739c;
    font-size: 12px;
}

.t2{
    color: #39739c;
    font-size: 12px;
}

.paymentmethod{
    margin-left: 60px;
    font-size: 12px;
    color: greenyellow;
}

.steamacc{
    margin-left: 60px;

    font-size: 12px;
    color: white;
}

.lowersec{
    
    display: flex;
}

#cbox1{
    margin-left: 20px;
    height: 30px;
    margin-top: 20px;
    
}

.terms{
    color: white;
    font-size: 14px;
    margin-top: 24px;
    margin-left: 20px;


}

#confirmationbutt{
    width: 90px;
    height: 30px;
    background-color: rgb(126, 187, 35);
    border: transparent ;
    margin-top: 60px;
    margin-left: 80px;
    padding-top: 3px;
}

#confirmationbutt:hover{
    background-color: rgb(164, 229, 68);
}

.compensteam{
    margin-top: 10px;
    color: white;
    font-size: 13px;
}