.details {
    background-size: 100% 100%, 5px 5px;
    background: linear-gradient(to right, #141c2d, #1e3549, #162331);
    overflow: hidden; /* Hide any overflow from the pseudo-element */
}
.details::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Transparent background */
    pointer-events: none; /* Ensure the pseudo-element does not interfere with interactions */
    z-index: 1;
}

.details::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 15%;
    width: 3px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 50%;
    box-shadow:
            100px 50px rgba(255, 255, 255, 0.63),
            300px 120px rgba(255, 255, 255, 0.66),
            600px 40px rgba(255, 255, 255, 0.65),
            1000px 20px rgba(255, 255, 255, 0.63),
            2000px 20px rgba(255, 255, 255, 0.63);
}

.gamecard{
    height: 444px;
    width: 940px;
    background-color: #223b50;    
    display: flex;
    flex-wrap: wrap;
    
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.first-image {
    opacity: 0.3; /* Adjust opacity for transparency */
}
.detailscentrecont{
    margin-left: 20.5% !important;
    padding-top: 100px;
}
.gametitle{
    margin-left: 0px;
}

.screenshots-slider{
    width: 600px;
    height: 432px;
}

.leftsection{
    width: 324px;
    height: 444px;
    margin-left: 16px;
}
.gamecover{

    height: 40%;
    width: 100%;
    align-content: center;

}
.gamethumbnail{
    height: 100%;
    width: 100%;
}
.gamedetails{    
    margin-top: 10px;
    font-size: 13px;
    color: rgb(206, 206, 206);
}

.gamedate{
    margin-top: 10px;
    font-size: 13px;
    color: rgb(75, 75, 75);
}

.purchasecont{
    padding-bottom: 100px;
}
.purchaseoption{
    position: absolute;
    margin-top: 30px;
    width: 616px;
    height: 72px;
    background: linear-gradient(to right, #404348, #5b7896);
    color: rgb(206, 206, 206);
    padding: 20px;    
    font-size: 20px;
    border-radius: 10px;
    z-index: 1;
}

.purchasebutton{
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 300px;
    height: 36px;
    background-color: black;
    z-index: 2;
    margin-left: 290px;
    margin-top: 80px;
}

.purchaseprice{
    color: white;
    width: 40%;
}

.purchasecart{
    margin-left: 15px;
    margin-right: 5px;
    padding-bottom: 9px;
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #61be2d, #76c749);
    color: rgba(245, 245, 245, 0.96);
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 1); /* Adding text shadow */
    width: 70%;
    height: 80%;
    border-radius: 3px;
    border: transparent !important;
}
.purchasecart:hover{
    background-color: rgb(193, 255, 99) !important;
    color: rgb(95, 95, 95);
}

.aboutcont {
    margin-top: 100px;
}

.abouttitle{
    color: white;
}

.aboutvid{
    margin-top: 15px;
    height: 260px;
    width: 616px;
}

.video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ajusta el video para cubrir todo el espacio */
  }

.detailscont{
    margin-top: 20px;
    width: 616px;
    color: rgb(163, 163, 163);
    padding-bottom: 50px;
}

.image-gallery-icon{
    
    width: 120px !important;
    height: 120px !important;
    padding: 0 !important;
}
