.home{
    background-color: #182a39;
}
.video-container {
    position: relative;
    width: 100%;
    height: 55vh; /* Ajusta la altura para que ocupe toda la altura de la ventana */
    overflow: hidden;
    z-index: 0;
    
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52vh;
    object-fit: cover; /* Cubre todo el contenedor */
    object-position: center; /* Centra el video */
    z-index: -1;
}



.destandrec_container {
    position: relative !important;
    height: 412px;
    background-color: #182a39;
}
.carousel-item:hover {
    box-shadow: 0px 0px 10px 1px white;

}

.destanrectitle{
    color: white;
    padding: 10px 0;
}

.carousel-item{   
    display: flex !important;
    width: 940px !important;
    height: 353px !important;    
    margin: 0 auto !important;
    background-color: #101c23;
    box-shadow: 0px 0px 29px 1px #000000;
    
}

.carousel-inner{
    display: flex !important;
    justify-content: center !important;
}

.gameimage{
    width: 616px;
    height: 353px;
    background-image: url('../resources/game1.png');
    background-size: cover;
    box-shadow: 0px 0px 29px 1px #000000;

}

.gameinfo{
    width: 302px;
    height: 353px !important;  
}

.gametitle{
    color: white !important;
    margin: 20px !important;
    font-size: 20px;
    width: 300px;
}

.gameimages{
    width: 320px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
}

.screenshot{
    width: 145px;
    height: 70px;
    object-fit: cover;
    margin: 5px;
    margin-left: 0px !important;
    
}

.gameprice{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    padding-top: 30px;
}

.cont {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "GAME1 GAME2 GAME3"
      "GAME1 GAME2 GAME4"
      ". . .";
    width: 970px;
  }
  
  .GAME1 { grid-area: GAME1; }
  
  .GAME2 { grid-area: GAME2; }
  
  .GAME3 { grid-area: GAME3; }
  
  .GAME4 { grid-area: GAME4; }
  

.offerscontainer {
    margin-top: 50px ;
    height: 560px;
    background-color: #182a39;
    
    
}

.GAME1{
    width: 306px;
    height: 370px;
    background-color: #267ea4;
    box-shadow: 0px 0px 29px 1px #000000;

}

.GAME2{
    width: 306px;
    height: 370px;
    background-color: #267ea4;
    box-shadow: 0px 0px 29px 1px #000000;
}



.offerpic  {
    height: 260px;
    width: 306px;
    background-image: url('../resources/offer1.jpg');
    background-size: cover;
}

.offerpic1  {
    height: 260px;
    width: 306px;
    background-image: url('../resources/offer2.jpg');
    background-size: cover;
}
.offerstitle{
    color: white;
    padding-left: 5px !important;
    padding: 10px 0;
}

.offer1{
    color: white;
    padding-top: 5px;
    padding-left: 20px;
}

.offer2{
    color: white;
    padding-left: 20px;
    padding-top: 7px;
    font-size: 12px;
    padding-bottom: 9px;
}


.discount{
    height: 34px;
    width: 80px;
    background-color: #4d6a2d;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 22px;
    color: #c1ea4c;

}

.price{
    height: 34px;
    width: 80px;
    background-color: #334753;
    color: #a1ea4f;
    display: flex;
    justify-content: center;
    padding-top: 4px;
    font-size: 14px;

}

.newprice{
    display: flex;
    padding-left: 20px;
    
}

.GAME3{
    display: flex;
    flex-wrap: wrap;
    width: 306px;
    height: 180px;
    background-color: #aadcf1;
    box-shadow: 0px 0px 29px 1px #000000;
}

.GAME4{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 306px;
    height: 180px;
    background-color: #aadcf1;
    box-shadow: 0px 0px 29px 1px #000000;
}

.offerpic3 {
    height: 140px;
    width: 306px;
    background-image: url('../resources/offer3.jpg');
    background-size: cover;

}

.offerpic4 {
    height: 140px;
    width: 306px;
    background-image: url('../resources/offer4.jpg');
    background-size: cover;
    
}

.offtitle{
    width: 100px;
    font-size: 13px;
    padding-left: 4px;
    padding-top: 7px;
    margin-right: 20px;
}

.explorecontainer{
    padding-bottom: 20px;
}
.bar2{
    background-color:  #00bdf9 !important;
    margin: 5px !important;
    border-color: transparent !important;
    font-size: 13px !important;
    width: 229px;
    height: 58px;
    border-radius: 4px !important;
    box-shadow: 0px 0px 29px 1px #000000;
    font-size: 17px !important;
}

.exploretitle{
    color: white;
    padding-left: 8px !important;
    padding: 10px 0;
}


.GAME1:hover{
    box-shadow: 0px 0px 10px 1px white;
}
.GAME2:hover{
    box-shadow: 0px 0px 10px 1px white;
}
.GAME3:hover{
    box-shadow: 0px 0px 10px 1px white;
}
.GAME4:hover{
    box-shadow: 0px 0px 10px 1px white;
}



.centrecont{
    margin: 10px !important;
}

.fullcont{
    display: flex;
    flex-wrap: wrap;
}

.leftcont{
    width: 25%;
    padding-left: 200px;
    padding-top: 170px;
}

.leftopt{
    color: #334753;
}

.leftopt1{
    color: #4f6c7e;
    margin-bottom: 20px;
}