    html,body {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .user-back-game {
        display: flex;
        flex-direction: column;
        background: #1b2838;

        min-height: calc(100vh - 104px - 222px);
        max-height: calc(100vh - 104px - 222px);
    }

    .user-header-game {
        display: flex;
        margin: 0 230px;
        background: rgba(58, 62, 71, 0.5);
    }

    .user-header-game h3 {
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        align-self: center;
    }

    .user-header-game p {
        color: #828282;
        align-self: center;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    .user-header-game img{
        margin: 15px 25px;
        width: 60px;
    }

    .user-header-game a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: #3c97b6;
    }

    .user-body-game {
        background: #1b2838;
        margin: 25px 260px;
        padding: 0;
    }

    .button-game{
        display: flex;
        position: relative;
    }

    .button {
        background-color: rgba(0, 0, 0, 0.2) !important;
        border: none;
        border-radius: 0;
        cursor: pointer;
        margin-right: 5px;
        font-size: 0.9rem;
    }

    .button-alt-color{
        background-color: #3c97b6 !important;
    }

    .button:hover {
        background-color: #3c97b6 !important;
    }

    .button-game::before, .button-game::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 6px;
        background-color: #3c97b6 !important;
    }

    @media (max-width: 768px) {
        .user-header-game { flex-direction: column;}
        .user-body-game { flex-direction: column;}
    }

    @media (max-width: 1200px) {
        .user-header-game { margin: 0 60px;}
        .user-body-game { margin: 25px 60px;}
    }

    @media (max-width: 1600px) {
        .user-header-game { margin: 0 230px;}
        .user-body-game { margin: 25px 260px;}
    }