  .layout {
      min-height: 100vh;
      background-color: #142540;
      padding-top: 5vh;
  }

  .layout h2 {
    font-family: 'Motiva Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    letter-spacing: .03em;
  }

  .layout span {
    font-family: 'Motiva Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .header {
    background: linear-gradient(45deg, #142540, #284067);
  }
  
  .header-title {
    color: white !important;
    line-height: inherit;
  }
  
  .content {
    padding: 20px;
  }
  
  .card {
    background: #203456;
    color: #fff !important;
  }
  
  .menu {
    border-right: 0;
  }
  