.navbar{
    background-color: #171d25;
    height: 104px;
}

.logo{
    height: 7vh;
    width: auto;   
}

.navoptions {
    margin-left: 0px !important;
    width: 60% !important;
  }
  
.navitems {
    margin-left: 15% !important;
}

.navtext {
    margin-left: 2% !important;
}

.extraoptions {
    padding-bottom: 50px;
}

.rectangular-button {
    background-color: #77a318; /* Color verde oscuro */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.1rem;
  }
  /* División vertical */
.divider {
    height: 15px;
    width: 1px;
    background-color: white;
    margin: 0 10px;
  }
  .navtext2 {
    color: #5c7e10; /* Color verde para texto no autenticado */
    font-weight: bold;
    margin-left: 2% !important;
    background-color: #171d25;
    border: 0;
  }
  
  .navtext:hover {
    color: white; /* Color blanco al pasar el mouse */
  }
  /* Estilos para la sección de localización y otros enlaces */
.location-container {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .location-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

