@import url('https://fonts.googleapis.com/css2?family=Motiva+Sans:wght@400;700&display=swap');

  .sidebar {
    color: white;

    flex: 1;
    min-width: 310px;
    max-width: 310px;

    background-image: url('../resources/Steaam.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Motiva Sans', Arial, Helvetica, sans-serif;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

    position: relative; /* Esto para que funcione z-index*/
    z-index: 1; /* Es para poner mas encima un panel sobre otro*/

    transition: transform 0.3s ease;

    overflow-y: auto;
  }

  .toggle-button {
    cursor: pointer;
    font-size: 25px;
    font-weight: 100;
    margin-left: 285px;
    color: white;
  }

  .sidebar h2 {
    padding: 0 60px 8px 20px;
    margin-bottom: 35px;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    color: #c6d5df;
    text-transform: uppercase;
    letter-spacing: .1em;
    word-wrap: break-word;
    word-break: break-word;
  }
  
  .menu-section {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
  
  .menu-section h3 {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: darkgrey;
  }
  
  .menu-section .selected {
    font-weight: bold;
  }
  
  .footer {
    margin-top: 30px;
    font-size: 12px;
  }
  
  input[type="text"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:#353941;
    color :white;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  input[type="text"]:hover {
    background-color: #41454a;
  }

  input[type="text"]:focus {
    background-color: #41454a;
    color: white;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 3.0);
    outline: none; /* Removes default outline on focus */
  }
  
  button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #353941;
    color: white;
  }

  .seccion {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .seccion-2 {
    margin-bottom: 120px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .seccion h3 {
    letter-spacing: .05em;
    font-weight: 400;
    font-size: 13px;
  }

  .seccion-2 a {
    font-size: 12px;
    color: #cacaca;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .custom-button {
    display: block;
    padding: 10px 0px 10px 15px;
    background-color: rgba(63, 69, 78, 0.5);
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s;
    margin-bottom: 2px;
  }

  .custom-button-blue {
    display: block;
    padding: 10px 0px 10px 15px;
    background-color: rgba(7, 191, 255, 0.19);
    color: #07bfff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s;
    margin-bottom: 2px;

    position: relative;
  }

  .custom-button-blue::before, .custom-button-blue::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background-color: #07bfff;
}

  .custom-button-blue span{
    color: #07bfff;
    font-weight: 500;
  }

  .custom-button-2 {
    display:flex;
    padding: 10px 10px;
    background-color: #575e69;
    color: #aaa;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    transition: background-color 0.3s;
    margin-bottom: 5px;
  }

  .custom-button:hover {
    background: linear-gradient(to left, rgba(225, 225, 225, 0.5), rgba(53, 57, 65, 0.5));
  }

  .custom-button-2:hover {
    background-color: #787c88;
    color: white;
  }
  
  .button-text {
    display: block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .05em;
  }
  
  .button-subtext {
    display: block;
    font-size: 12px;
    color: #7e8187;
    font-weight: 300;
  }

  .footer {
    padding-left: 20px;

    position: absolute;
    bottom : 0;
    left : 0;
    width: 100%;
  }

  .footer p {
    font-size: 11px;
    padding-right: 4px;
    color: #8f8e93;
  }

  .footer img {
    width: 85px;
    height: auto;
    display: block;
    margin-bottom: 5px;
  }

  .logo1 {
    width: 15px;
    height: auto;
    margin-right: 10px;
  }